*{
    padding: 0;
    margin: 0;
}
.image {
    width: 100%;
    height: 100vh;
}
.top-right {
    position: absolute;
    right: 25px;
    top: 25px;
}

.link {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.link:hover {
    text-decoration: underline;
}
