body {
    background-image: url('/images/backgrounds/HMS.JPEG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.top-right {
    position: absolute;
    right: 25px;
    top: 25px;
}

.link {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.link:hover {
    text-decoration: underline;
}
